# Première Cours Suites Partie 1

Sur la page [https://repl.it/@fredericjunier/PremiereSuitesPartie1](https://repl.it/@fredericjunier/PremiereSuitesPartie1) vous pourrez aussi tester les codes ci-dessous.

## Activité 1 : châteaux de cartes

Pour tout entier naturel $n \geqslant 1$, on a :
* le nombre de cartes au niveau $n$ vérifie $u_{n}=3n$
* le nombre total de cartes pour construire  $n$ niveaux  vérifie $v_{n+1}=u_{n+1} + v_{n}$

In [1]:
def chateau(n):
    u = 0
    v = 0
    for k in range(1, n + 1):
        u = u + 3  #u = k * 3
        v = v + u
    return v

In [2]:
[chateau(n) for n in range(0, 8)]

[0, 3, 9, 18, 30, 45, 63, 84]

## Activité 2 Modèle d’évolution d’une population

On a $u_{0}=27500$ étudiants en Septembre 2016.

En notant $u_{n}$ le nombre d'étudiants en Septembre $2016 + n$, en juin $2016+n+1$, après  une perte de $150$ étudiants, on a $u_{n}-150$ étudiants. Puis on a une augmentation de cet effectif, à la rentrée de Septembre, cest-à-dire $1,04(u_{n}-150)=1,04u_{n}-156$.$ étudiants en Septembre$2016+n+1$. 

Pour tout entier $n \geqslant 0$, on a donc : $u_{n+1}=1,04u_{n}-156$.

La capacité maximale de l'établissement est de $33000$. D'après l'algorithme de seuil ci-dessous, à la rentrée de Septembre $2022$, la capacité maximale d'accueil sera dépassée.

In [7]:
def seuil():
    n = 0
    u = 27500
    while u <= 33000:
        n = n + 1
        u = 1.04 * u - 156
    return n

In [8]:
seuil()

6

## Suite de syracuse

In [1]:
def syracuse(u , n):
    """Retourne la liste des premiers termes 
    de la suite de syracuse de premier terme u"""
    L = [u]
    for k in range(n):
        if u % 2 == 0:
            u = u // 2
        else:
            u = 3 * u + 1
        L.append(u)
    return L

In [4]:
syracuse(634 , 40)

[634,
 317,
 952,
 476,
 238,
 119,
 358,
 179,
 538,
 269,
 808,
 404,
 202,
 101,
 304,
 152,
 76,
 38,
 19,
 58,
 29,
 88,
 44,
 22,
 11,
 34,
 17,
 52,
 26,
 13,
 40,
 20,
 10,
 5,
 16,
 8,
 4,
 2,
 1,
 4,
 2]

In [7]:
for k in range(10, 21):
    print(syracuse(k, 21))

[10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1]
[11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4]
[12, 6, 3, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1]
[13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1]
[14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4]
[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4]
[16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1]
[18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4]
[19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4]
[20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2, 1, 4, 2]

In [8]:
def tempsVol(u):
    """Retourne le plus petit indice du terme de la suite de syracuse
    de premier terme u, qui est égal à 1"""
    i = 0
    while u != 1:
        if u % 2 == 0:
            u = u // 2
        else:
            u = 3 * u + 1
        i = i + 1
    return i

In [9]:
tempsVol(634)

38

## Factorielle de n

In [10]:
def factorielle(n):
    u = 1
    for k in range(1, n + 1):
        u = u * k
    return u

In [11]:
[factorielle(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]